<div class="container">
  <h2>{{ group.name }}</h2>

  <div class="row">
    <button
      type="button"
      class="btn mr-15"
      routerLink="/add-people-on-group/{{ groupId }}"
      routerLinkActive="active"
    >
      Add people on group
    </button>
    <button
      type="button"
      class="btn"
      routerLink="/add-expense/{{ groupId }}"
      routerLinkActive="active"
    >
      Add expenses
    </button>

    <button
      type="button"
      class="btn btn-cancel ml-15"
      routerLink="/"
      routerLinkActive="active"
    >
      Cancel
    </button>
  </div>

  <div class="row mt-15">
    <div class="column">
      <div class="row mt-25">
        <h3>Members</h3>
      </div>
      <div class="row" *ngIf="people.length > 0">
        <ul>
          <app-group-people-list
            *ngFor="let person of people"
            [groupPeople]="person"
          ></app-group-people-list>
        </ul>
      </div>
      <div class="row" *ngIf="people.length == 0">
        <span class="label mt-25">Add someone here!</span>
      </div>
    </div>
    <div class="column borderleft">
      <div class="row mt-25">
        <h3>Expenses</h3>
      </div>
      <div class="row" *ngIf="expenses.length > 0">
        <ul>
          <app-group-expenses
            *ngFor="let ex of expenses"
            [expense]="ex"
          ></app-group-expenses>
        </ul>
      </div>
      <div class="row" *ngIf="people.length == 0">
        <span class="label mt-25">It look likes no one spent money...</span>
      </div>
    </div>
    <div class="column borderleft">
      <div class="row mt-25">
        <app-balance [balance]="balance"></app-balance>
      </div>
    </div>
    <div class="column borderleft">
      <div class="row mt-15">
        <app-debts [debts]="balance.debts"></app-debts>
      </div>
    </div>
  </div>
</div>
