/* You can add global styles to this file, and also import other style files */
html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body,
app-root {
  height: 70%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  margin: 0.5rem;
}

.gap-1 {
  margin: 1rem;
}

.gap-2 {
  margin: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn {
  height: 65px;
  width: 120px;
  background-color: #002d7e;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px 1px rgba(150, 150, 150, 0.2);
  cursor: pointer;
}

.btn-cancel {
  background-color: red;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.label {
  font-size: 1.1em;
  margin-right: 0.4em;
}

.text-box,
.dropdownlist {
  border-radius: 7px;
  border: 1px solid #0000ff65;
  height: 1.5em;
  font-size: 1em;
  min-width: 250px;
  min-height: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  margin-top: 1.5rem;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.borderleft {
  border-left: 1px solid darkgrey;
  margin-left: 1em;
  padding-left: 1em;
}
